// npx sass --watch styles.scss styles.css


// Variables $
// Nesting 
// Modules @use
// Mixins @mixin
// Inheritance %
// Operators +-*/%

@use 'moduled' as moduled;

// inheritance 
%display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent {
  width: 100%;
  height: 300px;
  @include moduled.theme();
  @extend %display-center;

  .child {
    width: moduled.$size-variation;
    height: moduled.$size-variation;
    @include moduled.theme(lightcoral);
    @extend %display-center;

    .grandchild {
      width: moduled.$size-variation;
      height: moduled.$size-variation;
      @include moduled.theme(lightgreen);
      @extend %display-center;

      .great-grandchild {
        width: moduled.$size-variation;
        height: moduled.$size-variation;
        @include moduled.theme(lightgoldenrodyellow);
        @extend %display-center;
      }
    }
  }
}
